.containerEndereco{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.containerTitulo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.containerTitulo hr {
  width: 23.2vw;
  height: 0px;
  border: 2px solid var(--secondary-color);
  margin: 0 20px;

}

.tituloPagina{
  color: var(--secondary-color);
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: 400;

}

.form {
  display: flex;
  justify-content: center;
}

.form-group{
  margin: 10px 20px;
  width: 15vw;
  font-size: 20px;
}

.blockForm #logradouroContainer{
  width: 11vw;
  margin-right: 10px;
}
.blockForm #residenciaContainer{
  width: 22vw;
  margin-right: 10px;
}

.blockForm #numeroContainer{
  width: 6vw;
  margin-right: 10px;
}

.form-group-td-10{
  display: flex;
  margin: 0px 20px;
  width: 8vw;
  font-size: 20px;
  flex-direction: column;
}

.form-group label, .form-group-td-10 label{
  color: var(--secondary-color);
  display: flex;
  font-family: var(--font-primary);
}

.form-group-td-10 #observacoes{
  width: 22.8vw;
}

.form-group input, .form-group-td-10 input{
  color: var(--secondary-color);
  font-family: var(--font-primary);
  background-color: var(--primary-color);
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  padding: 10px 3px;
  width: 100%;
}


.form-group .groupRadio{
  display: flex;
  margin: 10px 0;
  color: var(--secondary-color);
  font-family: var(--font-primary);
}

.form-group .groupRadio input {
  width: fit-content;
}
.form-group .groupRadio .inputRadio input {
  accent-color: var(--auxilary-color);
}

.inputRadio{
  display: flex;
  margin-right: 10px;
}

.blockForm{
  display: flex;
  padding: 10px 20px;
  margin: 0 100px;
}

form button {
  padding: 5px 10px;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  font-family: var(--font-primary);
  font-size: 20px;
  color: var(--secondary-color);
  cursor: pointer;
  margin-top: 10px;
  width: 50vw;
}

form button:hover {
  transition: 1s all;
  background-color: var(--auxilary-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
