<div class="containerGerarCupom">
  <div class="containerTitulo">
    <hr>
    <h1 class="tituloPagina">Gerar Cupom</h1>
    <hr>
  </div>

  <div>
    <div class="form">
      <form [formGroup]="formGerarCupom" (ngSubmit)="gerarCupom()">
        <div class="form-group">
          <label for="codCupom">Código do Cupom</label>
          <input type="text" class="form-control" id="codCupom" formControlName="codCupom">
        </div>
        <div class="form-group">
          <label for="valor">Valor do Cupom</label>
          <input type="text" class="form-control" id="valor" formControlName="valor">
        </div>
        <div class="form-group">
          <label for="porcentagem">Porcentagem do Cupom</label>
          <input type="text" class="form-control" id="porcentagem" formControlName="porcentagem">
        </div>
        <button type="submit" class="btForm">Gerar Cupom</button>
      </form>
    </div>
  </div>
</div>
