<div class="listarCliente">
  <div class="containerTitulo">
    <hr>
    <h1 class="tituloPagina">Lista de Clientes</h1>
    <hr>
  </div>

  <div class="containerPesquisa">
    <div class="containerBtPesquisa">
      <input type="text" placeholder="CPF" [(ngModel)]="cpf">
      <input type="text" placeholder="Nome" [(ngModel)]="nome">
      <input type="text" placeholder="Email" [(ngModel)]="email">
    </div>
    <button (click)="filtrarClientes()">Pesquisar</button>
  </div>

  <div class="containerTabela">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Gênero</th>
          <th>Email</th>
          <th>Nascimento</th>
          <th>Cpf</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.nome}}</td>
          <td>{{cliente.telefones[0].numeroTelefone}}</td>
          <td>{{cliente.genero}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.nascimento}}</td>
          <td>{{cliente.cpf}}</td>
          <td class="acoes">
            <a [routerLink]="['/cliente/editar', cliente.id]">Editar</a>
            <a (click)="inativarCliente(cliente.id)" *ngIf="cliente.ativo == '1'">Inativar</a>
            <a (click)="ativarCliente(cliente.id)" *ngIf="cliente.ativo == '0'">Ativar</a>
            <a [routerLink]="['/cliente/detalhes', cliente.id]">Detalhes</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
