<div class="containerTroca">
  <div class="containerTitulo">
    <hr>
    <h1 class="tituloPagina">Troca / Devolução</h1>
    <hr>
  </div>

  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="codPedido">Código do Pedido</label>
        <input type="text" class="form-control" id="codPedido" placeholder="Código do Pedido" formControlName="codPedido">
      </div>
      <div class="form-group">
        <label for="motivo">Motivo</label>
        <select id="motivo" class="form-control" formControlName="motivo">
          <option value="Defeito">Defeito</option>
          <option value="Insatisfação">Insatisfação</option>
          <option value="Outro">Outro</option>
        </select>
      </div>
      <div class="form-group">
        <label for="motivo">Tipo</label>
        <select id="tipo" class="form-control" formControlName="tipo">
          <option value="Troca">Troca</option>
          <option value="Devolução">Devolução</option>
        </select>
      </div>
      <button type="submit" class="btForm">Enviar</button>
    </form>
  </div>
</div>
