<div class="containerInfo">
  <div class="carrouselImages">
    <div id="carousel" class="carousel">
      <div *ngFor="let image of productImages; let i = index" class="carousel-image-container"
        [class.active]="i === currentImageIndex">
        <img [src]="image">
      </div>
    </div>
    <div class="carousel-selectors">
      <span *ngFor="let image of productImages; let i = index" (click)="selectImage(i)" class="carousel-selector"
        [class.active]="i === currentImageIndex">&#9679;</span>
    </div>
  </div>
  <div class="infoProduct">
    <h1>{{ product.marca }}</h1>
    <p>R$ {{ product.preco | currency}}</p>
    <p>{{ product.nome }} - {{product.modelo}}</p>
    <p>{{ product.ano }} - {{product.genero}}</p>
    <div class="quantity-selector">
      <button (click)="decreaseQuantity()" type="button">-</button>
      <input [(ngModel)]="quantity" type="number" min="1">
      <button (click)="increaseQuantity()" type="button">+</button>
    </div>
    <button (click)="addToCart()" id="addToCart">Adicionar ao Carrinho</button>
  </div>
</div>
