.container{
  display: flex;
  justify-content: center;;
}

.container img {
  width: -webkit-fill-available;
  height: unset;
  z-index: -1;
  position: absolute;
  top: 0;
  filter: brightness(50%) grayscale(200%);
}

.mensagemHome {
  width: 70%;
  color: var(--primary-color);
  font-family: var(--font-auxiliary);
  font-size: 50px;
  position: relative;
  margin-top: 150px;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}
