.containerTrocaSenha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  color: var(--secondary-color);
}


.containerTitulo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.containerTitulo hr {
  width: 23.2vw;
  height: 0px;
  border: 2px solid var(--secondary-color);
  margin: 0 20px;
}

.tituloPagina{
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: 400;
}

.campoSenha{
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.campoSenha label{
  font-family: var(--font-primary);
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.campoSenha input{
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.containerTrocaSenha button{
  padding: 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  margin-top: 20px;
  font-family: var(--font-primary);
  cursor: pointer;
}

.containerTrocaSenha button:hover{
  background-color: var(--auxilary-color);
  color: var(--primary-color);
  transition: 1s all;
}
