<div class="containerFinalizarCompra">
  <div class="containerTitulo">
    <hr>
    <h1 class="tituloPagina">Finalizar Compra</h1>
    <hr>
  </div>

  <div class="infoUser">
    <h3>Informações do Usuário</h3>
    <div>
      <label for="nomeUsuario">Nome: {{cliente.nome}}</label>
      <label for="emailUsuario">Email: {{cliente.email}}</label>
      <label for="telefoneUsuario">Telefone: {{cliente.telefones[0].numeroTelefone}}</label>
    </div>
  </div>

  <div class="infoPagamento">
    <h3>Informações de Pagamento</h3>
    <p>Cartão de crédito</p>
    <select>
        <option *ngFor="let cartao of cliente.cartoes" value="cartao.numeroCartao">{{cartao.numeroCartao}}</option>
    </select>
  </div>

  <div class="enderecoCobranca">
    <h3>Endereço de Cobrança</h3>
    <select>
      <option *ngFor="let endereco of enderecosCobranca" value="endereco.identificacao">{{endereco.identificacao}}</option>
    </select>
  </div>

  <div class="enderecoEntrega">
    <h3>Endereço de Entrega</h3>
    <select>
      <option *ngFor="let endereco of enderecosEntrega" value="endereco.identificacao">{{endereco.identificacao}}</option>
    </select>
  </div>



  <div class="resumoCarrinho">
    <h3>Resumo do Carrinho de Compras</h3>
    <div class="resumoCarrinho">
      <div *ngFor="let item of carrinho">
          <p>{{item.product.marca}} - {{item.product.nome}} - {{item.product.modelo}}</p>
          <p>{{item.product.descricao}}</p>
          <p>Quantidade: {{item.quantity}}</p>
          <p>Preço: R$ {{item.product.preco}}</p>
      </div>
    </div>
  </div>

  <div class="cupomContainer">
    <h3>Inserir Cupom</h3>
    <form>
      <input type="text" id="cupom" name="cupom">
      <button type="submit">Aplicar Cupom</button>
    </form>
  </div>

  <h3>Valor Frete: R$ {{frete}}</h3>
  <h3>Valor Total: R$ {{total}}</h3>
</div>
