<div class="containerFinalizarCompra">
  <div class="containerTitulo">
    <hr>
    <h1 class="tituloPagina">Finalizar Compra</h1>
    <hr>
  </div>

  <div class="infoPagamento">
    <h3>Informações de Pagamento</h3>
    <select>
      <div>Selecionar Cartão</div>
    </select>
  </div>

  <div class="enderecoCobranca">
    <h3>Endereço de Cobrança</h3>
    <select>
      <div>Selecionar Endereço de cobrança</div>
    </select>
  </div>

  <div class="enderecoEntrega">
    <h3>Endereço de Entrega</h3>
    <select>
      <div>Selecionar Endereço de cobrança</div>
    </select>
  </div>

  <h3>Informações do Usuário</h3>
  <form>
    <label for="nomeUsuario">Nome:</label>
    <input type="text" id="nomeUsuario" name="nomeUsuario" required>

    <label for="emailUsuario">Email:</label>
    <input type="email" id="emailUsuario" name="emailUsuario" required>

    <label for="telefoneUsuario">Telefone:</label>
    <input type="text" id="telefoneUsuario" name="telefoneUsuario" required>
  </form>

  <h3>Resumo do Carrinho de Compras</h3>
  <div class="resumoCarrinho">
    <!-- Aqui você pode exibir o resumo do carrinho de compras -->
  </div>

  <h3>Inserir Cupom</h3>
  <form>
    <input type="text" id="cupom" name="cupom">
    <button type="submit">Aplicar Cupom</button>
  </form>
</div>
