<div class="containerListarCupons">
  <div class="containerTitulo">
    <hr>
    <h1 class="tituloPagina">Listar Cupons</h1>
    <hr>
  </div>

  <div class="containerTabela">
    <table class="table">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Valor</th>
          <th>Porcentagem</th>
          <th>Status</th>
          <th>Tipo</th>
          <!-- <th>Ações</th> -->
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let cupom of cupons">
          <tr *ngIf="!(cupom.valor == null && cupom.porcentagem == null)">
            <td>{{cupom.codCupom}}</td>
            <td>{{cupom.valor}}</td>
            <td>{{cupom.porcentagem}}</td>
            <td>{{cupom.status}}</td>
            <td>{{cupom.tipo}}</td>
            <!-- <td class="acoes">
              <a (click)="inativarCupom(cupom)" *ngIf="cupom.status == '1'"> | Inativar Cupom | </a>
              <a (click)="inativarCupom(cupom)" *ngIf="cupom.status == '0'"> | Ativar Cupom | </a>
            </td> -->
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
