.containerListagem {
  color: var(--secondary-color);
  font-family: var(--font-primary);
  display: flex;
  padding: 25px;
}

.pesquisa {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}

.pesquisa hr {
  margin-top: 50px;
  width: 210px;
}

#buscar{
  margin-top: 2px
}

.acoes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.acoes button {
  margin: 0 5px !important;
  height: 30px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  font-family: var(--font-primary);
  cursor: pointer;
}

.pesquisa input {
  width: 150px;
  height: 15px;
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  padding: 5px;
  font-family: var(--font-primary);
}

.pesquisa button {
  margin: 10px 0;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  font-family: var(--font-primary);
  cursor: pointer;
}

.pesquisa button:hover {
  background-color: var(--auxilary-color);
  color: var(--primary-color);
  border: 2px solid var(--auxilary-color);
  transition: 1s all;
  cursor: pointer;
}

#productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 0;
  width: 15%;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  text-align: center;
  max-height: 388px;
  min-width: 158px;
  background-color: var(--primary-color);
}

.card:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: 1s all;
  cursor: grab;
  transform: scale(1.02);
}

.card img {
  width: 200px;
  height: 200px;
}

.elementoBusca {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  align-content: center;
}

.elementoBusca input {
  margin: 2px 0px;
}

.elementoBusca .categoryProduct {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: start;
  align-content: start;
}

.elementoBusca .categoryProduct input {
  width: fit-content;
}
