<div class="containerDevolucao">
  <div class="containerTitulo">
    <hr>
    <h1 class="tituloPagina">Devolução</h1>
    <hr>
  </div>

  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="codPedido">Código do Pedido</label>
        <input type="text" class="form-control" id="codPedido" placeholder="Código do Pedido" formControlName="codPedido">
      </div>
      <div class="form-group">
        <label for="motivo">Motivo</label>
        <select id="motivo" class="form-control">
          <option value="defeito" formControlName="motivo" >Defeito</option>
          <option value="insatisfação" formControlName="motivo" >Insatisfação</option>
          <option value="outro" formControlName="motivo" >Outro</option>
        </select>
      </div>
      <button type="submit" class="btForm">Enviar</button>
    </form>
  </div>
</div>
